<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>

    <form method="post" action="/rezultat">
        <input name="vnos" placeholder="Napisi nekaj">
        <button>Pošlji</button>
    </form>

    <form method="post" action="/kalkulator">
        <input name="vnos1" placeholder="Napisi nekaj">
        <input name="vnos2" placeholder="Napisi nekaj">
        <input name="operacija" placeholder="+-*">
        <button>Izračunaj</button>
    </form>
</body>
</html>